<nav-p [identity]="identity"></nav-p>
<div class="container" id="header">    <div class="row"><div class="col-md-12">
  
    <nav aria-label="breadcrumb" style="margin-bottom: 10px;">
        <ol class="breadcrumb primary-color" style="    margin-right: 15px;
        padding: 10px;
        margin-bottom: 0;">
          <li style="margin-left: 20px;"class="breadcrumb-item"><strong>Home</strong></li>
        </ol>
    </nav>
    </div></div>
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">    
                <p class="font-italic">Bienvenido <strong>{{ identity.name }}</strong> a Premate Academia Psu Online.</p>
            </div>
          </div>

          <div class="col-md-4" style="padding-left:0 !important;">
              <div class="col">
                  <div class="jumbotron" style="padding: 5px !important;">
                      <img src="http://noticias.universia.cl/net/images/educacion/b/ba/ban/banner.jpg" alt="..." width="200" class="Responsive image">
                  </div>
                  </div>
          </div>
    </div>

</div>
    
        <!-- Footer -->
        <footer>
    
              <div class="row">
                <div class="col-md-4">
                  <span class="copyright">Copyright &copy; PREMATE 2019</span>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="https://www.instagram.com/premate.cl/" target="_blank">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/groups/459469204548498/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">Terms of Use</a>
                    </li>
                  </ul>
                </div> -->
              </div>
    
          </footer>