

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#home"><img src="../../../assets/img/logos/premate-logo-cut.png" id="logopre"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#quienes_somos">Quienes Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#testimonios">Testimonios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#beca">Beca</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Más información</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LAKgjzJ_ep0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="quienes_somos">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">¿Cómo te ayudamos?</h2>
            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Clases expositivas</h4>
            <p class="text-muted">Clases de corta duración, donde se expone la materia seguida de resolución de ejercicios
              para que entiendas como aplicar la materia al instante.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Libro de trabajo</h4>
            <p class="text-muted">Libro con ejercitación PSU, para que te puedas preparar tranquilamente desde tu casa, con la comodidad de
                                  resolver los ejercicios en papel!</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Seguimiento</h4>
            <p class="text-muted">Seguimiento constante de tus resultados a través de nuestra plataforma, nos preocupamos de verdad por tu desempeño!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="testimonios">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Testimonios</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../../../assets/img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>850 PSU Matemática 2017</h4>
                    <h4 class="subheading">Monserrat Faune</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                      Sin lugar a dudas, su motivación, buena onda, dedicación y ejemplos curiosos,
                      fueron claves en el proceso, enseñándome diferentes métodos de resolución y que 
                      me permitieron obtener los 850 puntos para mi ingreso a Medicina!
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../../../assets/img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>850 PSU Matemática 2018</h4>
                    <h4 class="subheading">Carolina Vera</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">A pesar de que las matemáticas no se me hacían difíciles, me ayudó a mejorar mis habilidades,
                      con estrategias que me permitieron mejorar en todo ámbito, aumentando la rápidez y disminuyendo los errores en
                      cada uno de los ensayos!
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../../../assets/img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>850 PSU Matemática 2016</h4>
                    <h4 class="subheading">Ulises Campodónico</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="../../../assets/img/about/4.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>850 PSU Matemática 2016</h4>
                    <h4 class="subheading">Bruno Gálvez</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Se parte
                    <br>De Nuestra
                    <br>Historia!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="beca">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Postula a una beca</h2>
              <div class="text-center">
                <p>Si tienes motivación y ganas de rendir una buena PSU, postula a una beca!</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit" data-toggle="modal" data-target="#formModal">Postula una beca</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Te interesa tener más información?</h2>
            <h3 class="section-subheading text-muted">Por favor contáctanos!</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="infoForm" (ngSubmit)="guardarCambiosInfo()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="nombre" class="form-control" id="name" type="text" 
                    placeholder="Ingresa tu nombre *" required="required" 
                    data-validation-required-message="Por favor ingresa tu nombre.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input formControlName="correo" class="form-control" id="email" 
                    placeholder="Ingresa tu email *" required="required" 
                    data-validation-required-message="Por favor ingresa tu correo electrónico.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input formControlName="telefono" class="form-control" id="phone" type="tel" 
                    placeholder="Ingresa tu teléfono *" required="required" 
                    data-validation-required-message="Por favor ingresa tu número telefónico.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea formControlName="mensaje" class="form-control" id="message" 
                    placeholder="Ingresa tu mensaje aquí *" required="required" 
                    data-validation-required-message="Por favor ingresa un mensaje."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar mensaje</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; PREMATE 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://www.instagram.com/premate.cl/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/groups/459469204548498/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </footer>

<!-- Modal form -->

  <div class="portfolio-modal modal fade" id="formModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <div class="col-lg-12">
                <h3 class="section-heading text-uppercase">Formulario beca</h3>
                <form [formGroup]="becaForm" (ngSubmit)="guardarCambios()">
                  <h4 class="section-subheading">Datos alumno</h4>
                  <div formGroupName="alumno">  
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Apellido materno" formControlName="apellido1">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Apellido paterno" formControlName="apellido2">
                    </div>
                    <div class="form-group">
                      <input type="text" onfocus="(this.type='date')" class="form-control" placeholder="Fecha nacimiento" formControlName="fechanac">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Correo" formControlName="correo">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Teléfono" formControlName="telefono">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Rut" formControlName="rut">
                    </div>
                    <!--<div class="form-group">
                      <input type="text" class="form-control" placeholder="País" formControlName="pais">
                    </div>-->
                    <div class="form-group">
                      <select name="cars" class="form-control" formControlName="region" (click)="getComunas()">
                          <option value="">Seleccione Región</option>
                          <option value="{{ region.codRegion }}" *ngFor="let region of regiones">
                              Region {{ region.codRegion }}
                          </option>
                      </select>
                      <!--<input type="text" class="form-control" placeholder="Región" formControlName="region">-->
                    </div>
                    <div class="form-group">
                        <select name="cars" class="form-control" formControlName="comuna" (click)="getColegios()">
                            <option value="" selected>Seleccione Comuna</option>
                            <option value="{{ comuna.id }}" *ngFor="let comuna of comunas">
                                Comuna {{ comuna.nom_comuna }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="cars" class="form-control" formControlName="colegio" [value]="">
                            <option value="" selected>Seleccione su Colegio</option>
                            <option value=" {{ colegio.id }} " *ngFor="let colegio of colegios">
                                {{ colegio.nombre }}
                            </option>
                        </select>
                    </div>
                  </div>
                  <div formGroupName="apoderado">
                    <h4 class="section-subheading">Datos apoderado</h4>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Apellido materno" formControlName="apellido1">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Apellido paterno" formControlName="apellido2"> 
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Correo" formControlName="correo">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Teléfono" formControlName="telefono">
                    </div>
                    <h5>Escribe tus razones para obtener la beca:</h5>
                    <h6>*Esta es la parte más importante</h6>
                    <div class="form-group">
                      <textarea class="form-control" rows="7" formControlName="comentario"></textarea>
                    </div>
                  </div>
                  <h6 *ngIf="!becaForm.valid">Aún no has completado los campos</h6>
                  <h6 *ngIf="becaForm.valid">Puedes enviar el formulario</h6>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit" [disabled]="!becaForm.valid">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>