<nav-p [identity]="identity"></nav-p>
<div class="container" id="header">
    <div class="row"> 
        <div class="col-sm-12 col-lg-7 col-md-12"> 
            <div class="jumbotron">
                <h3>{{ title }}</h3>
                <div class="col-md-12 col-lg-12">
                
                        <form #loginForm="ngForm" (ngSubmit)="onSubmit();" class="col-md-12 no-padding"> 
                                <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <label>RUT:</label>
                                        <input type="rut" class="form-control" name="rut" #rut="ngModel" [(ngModel)]="user.rut" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Dígito:</label>
                                        <input type="dv" class="form-control" name="dv" #dv="ngModel" [(ngModel)]="user.digito_verificador" required>
                                    </div>
                                </div>
                            
                            
                            <!--<span *ngIf="!rut.valid && rut.touched">El email no es válido</span>-->

                            <div class="identity-alert alert alert-danger" *ngIf="!rut.valid && rut.touched">
                                El RUT no es válido
                            </div>
                           
                            <label>Contraseña:</label>  
                            <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                            <!--<span *ngIf="!password.valid && password.touched">La contraseña no es válida</span>-->
                            

                            <div class="identity-alert alert alert-danger" *ngIf="!password.valid && password.touched">
                                La contraseña no es válida
                            </div>
                            
                            <br>
                            <input type="submit" value="Entrar" class="btn btn-primary" style="background-color: #1FA0E5">
                    
                        </form>
                    </div><br>
                    <div class="col-md-12 col-lg-12">
                        ¿No tienes cuenta? 
                        <a [routerLink]="['/register']" routerLinkActive="active" style="color: #1FA0E5">
                            <i class="fas fa-user-plus "></i> Regístrate.
                        </a>
                    </div>

            </div>
        </div>
       <!-- <div class="col-sm-12 col-lg-5 col-md-12">
            <div class="jumbotron">
                <img src="../../../assets/img/login/premate_publicidad.png" alt="..." width="200" class="Responsive image">
            </div>
        </div>-->

        <div class="col-md-4" style="padding-left:0 !important;">
                <div class="col">
                    <div class="jumbotron" style="padding: 5px !important; width: 111%;">
                            <img src="../../../assets/img/login/premate_publicidad.png" alt="..." width="200" class="Responsive image">
                    </div>
                </div>
            </div>


    </div>
</div>


      
<!--
<div class="row">
<div class="container">
          <form class="form-horizontal" role="form" method="POST" action="/login">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Please Login</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="you@example.com" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"></i> Example error message
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">

                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6" style="padding-top: .35rem">
                    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                        <label class="form-check-label">
                            <input class="form-check-input" name="remember"
                                   type="checkbox" >
                            <span style="padding-bottom: .15rem">Remember me</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                    <a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>
                </div>
            </div>
        </form>
    </div></div>
<!--
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="../../../assets/img/premate-logo.png" class="img-fluid" id="logo" alt="Responsive image">

        </a> 

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </nav>
</header>
<!--
<header id="header">
    <div class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="../../../assets/img/premate-logo.png" id="logo"> 
        </a> 
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
          <li>
              <a [routerLink]="['/']">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Home
              </a>
          </li>
  
          <li>
              <a [routerLink]="['/']" *ngIf="identity && identity.sub">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Tarea
              </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right"  *ngIf="!identity">
          <li>
              <a [routerLink]="['/']" >
                Acceder
              </a>   
          </li>
          <li>
              <a [routerLink]="['/']">
                Registro
              </a>   
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right"  *ngIf="identity && identity.sub">
          <li>
            <a [routerLink]="[ '/' ]">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              Ajustes
            </a>
          </li>
  
          <li>
              <a [routerLink]="[ '/', 1 ]">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Salir
              </a>
          </li>
        </ul>
  
      </div>
    </div>
  </header>
-->