<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h4 class="navbar-brand">Menú de administración</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Videos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/admin/unidad']">Unidades</a>
                        <a class="dropdown-item" [routerLink]="['/admin/capitulo']">Capitulos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/admin']">Videos</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Revisión
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/admin/revision/unidad']">Unidades</a>
                        <a class="dropdown-item" [routerLink]="['/admin/revision/lista']">Lista</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/admin/revision']">Revisión</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" [routerLink]="" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Material
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/admin/material/unidad']">Unidades</a>
                        <a class="dropdown-item" [routerLink]="['/admin/material/capitulo']">Capitulos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/admin/material/material']">Material</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>